@import '../../style/main.scss';

.collapse {
  width: 100%;
  overflow: hidden;
  &_title {
    @include flex(row, space-between);
    padding: 20px;
    position: relative;
    z-index: 10;
    background-color: $secondary;
    font-size: clamp(15px, 2vw, 22px);
    border-radius: 10px;
    user-select: none;
    color: $primary;
  }
  .icon {
    font-size: 30px;
    transition: 0.4s;
    &_down {
      transform: rotate(180deg);
    }
    &_up {
      transform: rotate(0deg);
    }
  }
}

.content {
  padding: 20px;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  background-color: $tertiary;
  color: $secondary;
  font-size: clamp(12px, 2vw, 20px);
  line-height: 150%;
  user-select: none;
  &_active {
    transform: translateY(0px);
    transition: 0.4s ease;
  }
  &_hidden {
    transform: translateY(-100%);
    transition: 0.4s ease;
  }
}
